#result{
  display: none;
  background-color: white;
  width: 100%; /* 초록색 부분 마진 값? */
  text-align: center; /* 메인페이지 글자 가운데 정렬 */
  border-radius: 20px; /* 모서리를 둥글게 만듬 */
}

.resultname1{
  font-size: 50px;
  font-weight: bold;
}
.resultname2{
  font-size: 30px;
  text-align: center; /* 메인페이지 글자 가운데 정렬 */
  font-weight: bold;
}
.resultname3{
  font-size: 30px;
  text-align: center; /* 메인페이지 글자 가운데 정렬 */
  font-weight: bold;
}
    
.resultDesc{
  font-size: 23px;
  height: 10%;
}

#result23_grid{
  padding: 20px;
  display:grid;
  place-items: center;
}

.result23{
  width :100%;
}