#All{
    display: none;
    background-color: white;
    width: 100%; /* 초록색 부분 마진 값? */
    border-radius: 20px; /* 모서리를 둥글게 만듬 */
  }

#resultAll{
  border: 10px solid rgb(202, 241, 255);
  margin: 15px;
  border-radius: 20px; /* 모서리를 둥글게 만듬 */
}

.resultAllname{
  text-align: center; /* 글자 가운데 정렬 */
  font-size: 45px;
  font-weight: bold; /* 글자 굵게 */
}
    
.resultAllDesc{
  font-size: 23px;
  height: 10%;
  text-align: center; /* 글자 가운데 정렬 */
}

.googleform{
  font-size: 50px;
  height: 10%;
  text-align: center;
}