/* 어떤 요소가 시작될 때 투명도가 0->1로 변환 */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* 어떤 요소가 끝날 때 투명도가 1->0로 변환 */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* 크롬 버전 */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
  
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* qna에서 버튼 누를 시 animation 효과 */
.fadeIn{
  animation: fadeIn;
  animation-duration: 0.5s;
}

.fadeOut{
  animation: fadeOut;
  animation-duration: 0.5s;
}