header {
  width: 100%;
  height: 75px;
  background-color: rgb(211, 230, 250);
  display: block;
  box-shadow: 0px 2px 2px rgb(149, 176, 200);
}

.header{
  width: 220px;
}

#main{
    background-color: white;
    width: 100%; /* 초록색 부분 마진 값? */
    text-align: center; /* 메인페이지 글자 가운데 정렬 */
    border-radius: 20px; /* 모서리를 둥글게 만듬 */
  }
  
  p{
    font-size: 23px;
  }
  
#title{
  font-size: 50px;
}

@media (max-width: 700px){
  #main{
    background-color: white;
    width: 100%; /* 초록색 부분 마진 값? */
    text-align: center; /* 메인페이지 글자 가운데 정렬 */
    border-radius: 20px; /* 모서리를 둥글게 만듬 */
  }
}